@import url(http://fonts.googleapis.com/css?family=Muli);


/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  Color Scheme:

  #EEE1BE // parchment white
    rgba(238, 225, 190, 1)
  #1D1E40 // dark blue
    rgba(29, 30, 64, 1)
  #3E3F59 // blue violet
    rgba(62, 63, 89, 1)
  #FCFCFF // ivory
    rgba(252, 252, 255, 1)
  #060815 // deep black
    rgba(6, 8, 21, 1)
*/

body {
  width: 960px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(252, 252, 255, 0.9);
  margin: 0;
  padding: 0;
  background-image: url('/img/background.jpg');
  background-size: 2560px 1440px; /* 1920px 1080px */
}


/* Header Styles */

header {
  /*width: 580px;*/
  margin: 0 auto;
}

#title {
  font-family: 'Muli', sans-serif;
  font-size: 128px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.5;
  color: rgba(252, 252, 255, 0.9);
  letter-spacing: 1;
  transition: color 0.5s ease-in-out 0,
    letter-spacing 0.5s ease-in-out 0,
    opacity 0.5s ease-in-out 0;
}

#title:hover {
  opacity: 1;
  color: rgba(252, 252, 255, 0.9);
  letter-spacing: 24px;
}

#sub_heading {
  color: rgba(252, 252, 255, 0.9);
  font-family: Arial, "Helvetica Neue", sans-serif;
  font-size: 32px;
  text-align: center;
  letter-spacing: 1px;
  /*margin: 0 auto;*/
}


/* Main Nav Styles */

#main_nav {
  width: 860px;
  margin: 0 auto;
}

#main_nav li {
  color: rgba(252, 252, 255, 0.9);
  list-style-type: none;
  font-family: Arial, "Helvetica Neue", sans-serif;
}

.nav_item a {
  font-size: 14px;
  color: rgba(252, 252, 255, 0.7);
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav_item a:visited {
  color: rgba(252, 252, 255, 0.4);
}

.nav_item a:hover {
  color: rgba(238, 225, 190, 1);
  letter-spacing: 4px;
}

.nav_item a:active {
  color: rgba(62, 63, 89, 1);
}

.nav_item a:focus {
  color: rgba(62, 63, 89, 1);
}


/* Sub Nav Styles */

nav ul#main_nav > li {
  /*border: 1px solid red;*/
  width: 200px;
  padding: 5px;
  /* Because one of the children is a sub nav */
  /* So we want it to retain height and width properties */
  display: inline-block;
  vertical-align: top;
}

nav ul#main_nav > li.has_dropdown > ul#sub_nav > li.nav_item {
/*  border: 1px solid red;*/
  width: 200px;
  padding: 5px;
}

nav ul#main_nav > li.has_dropdown > ul#sub_nav {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in 0s;
}

nav ul#main_nav > li.has_dropdown:hover > ul#sub_nav {
  visibility: visible;
  opacity: 1;
}


/* Content Styles */

#main_content {
  border-top: 3px solid rgba(6, 8, 21, 1);
  margin: 20px;
  padding: 30px;
}

#main_content p {
  line-height: 1.5;
  letter-spacing: 1px;
}

.section_title {
  width: 50%;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

#side_content {
  border-top: 3px solid rgba(6, 8, 21, 1);
  margin: 20px;
  padding: 30px;
}

#side_content p {
  line-height: 1.5;
  letter-spacing: 1px;
}

.side_title {
  width: 50%;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

/* Footer Styles */

footer {
  border-top: 3px solid rgba(6, 8, 21, 1);
  margin: 20px;
  padding: 20px;
}

footer span {
  text-align: center;
  color: rgba(252, 252, 255, 0.4);
}
