@import url(http://fonts.googleapis.com/css?family=Muli);


/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  Color Scheme:

  #EEE1BE // parchment white
    rgba(238, 225, 190, 1)
  #1D1E40 // dark blue
    rgba(29, 30, 64, 1)
  #3E3F59 // blue violet
    rgba(62, 63, 89, 1)
  #FCFCFF // ivory
    rgba(252, 252, 255, 1)
  #060815 // deep black
    rgba(6, 8, 21, 1)
*/


/* Utility Styles */

/* CLEARFIX */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* General Styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(252, 252, 255, 0.9);
  margin: 0;
  padding: 0;
  background-image: url('/img/background.jpg');
  background-size: 2560px 1440px; /* 1920px 1080px */
}

body p {
  margin-bottom: 16px;
}

#title, #sub_heading, #main_nav li, .section_title, .side_title {
  font-family: 'Muli', sans-serif;
}


/* Layout Styles */

#layout {
  margin: 20px;
  padding: 20px;
  max-width: 80%; /* of the body */
  margin: auto;
  border-top: 5px solid rgba(62, 63, 89, 0.7);
  border-bottom: 5px solid rgba(62, 63, 89, 0.7);
  /*background-color: blue;
  border: 1px solid red;*/
}

#main_content {
  margin: 0;
  padding: 0 20px;
  width: 70%;
  float: left;
  box-sizing: border-box;
  /*background-color: green;
  border: 1px solid red;*/
}

#side_content {
  margin: 0;
  padding: 0 20px;
  width: 30%;
  float: right;
  box-sizing: border-box;
  /*background-color: yellow;
  border: 1px solid red;*/
}


/* Header Styles */

header {
  margin: 0 auto;
}

#title {
  font-size: 128px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  padding: 20px;
  opacity: 0.5;
  color: rgba(252, 252, 255, 0.9);
  letter-spacing: 1;
  -webkit-transition: color 0.8s ease-in-out 0,
    letter-spacing 0.8s ease-in-out 0,
    opacity 0.8s ease-in-out 0;
  transition: color 0.8s ease-in-out 0,
    letter-spacing 0.8s ease-in-out 0,
    opacity 0.8s ease-in-out 0;
}

#title.loaded {
  opacity: 0.8;
  color: rgba(252, 252, 255, 0.9);
  letter-spacing: 24px;
}

#sub_heading {
  color: rgba(252, 252, 255, 0.9);
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 48px;
}


/* Main Nav Styles */

#main_nav {
  text-align: center;
}

#main_nav li {
  color: rgba(252, 252, 255, 0.9);
  list-style-type: none;
  font-size: 18px;
}

.nav_item a {
  color: rgba(252, 252, 255, 0.7);
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav_item a:visited {
  color: rgba(252, 252, 255, 0.4);
}

.nav_item a:hover {
  color: rgba(238, 225, 190, 1);
  letter-spacing: 4px;
}

.nav_item a:active {
  color: rgba(62, 63, 89, 1);
}

.nav_item a:focus {
  color: rgba(62, 63, 89, 1);
}


/* Sub Nav Styles */

nav ul#main_nav > li {
  width: 240px;
  padding: 5px;
  /* Because one of the children is a sub nav */
  /* So we want it to retain height and width properties */
  display: inline-block;
  vertical-align: top;
}

nav ul#main_nav > li.has_dropdown > ul#sub_nav > li.nav_item {
  width: 200px;
  padding: 5px;
}

nav ul#main_nav > li.has_dropdown > ul#sub_nav {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}

nav ul#main_nav > li.has_dropdown:hover > ul#sub_nav {
  visibility: visible;
  opacity: 1;
}


/* Content Styles */

.section_title, .side_title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 18px;
}

#main_content p {
  line-height: 1.5;
  letter-spacing: 1px;
}

#side_content p {
  line-height: 1.5;
  letter-spacing: 1px;
}


/* Footer Styles */

footer {
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

footer span {
  color: rgba(252, 252, 255, 0.9);
  letter-spacing: 4px;
}
